img {
    width: 200px;
}

header {
    text-decoration: underline;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 2%;
    border-color: black;
    align-items: center;
}

footer {
    text-align: center;
}